.logo{
    color: red;
}

.logo-object{
    width: 200px;
    height: 200px;
    display: inline-block;
}

*{
    background-color: #213A5C;
    color: #DAD5CF;
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}
